*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  background-color:rgb(53, 171, 175);
  height:100px;

}
/*form*/
#search-input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
 
/*temp operation*/
#temp{
  text-align: center;
}

/*temp and degree */
#temp #temp-unit{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: #ffffff;
}
 /*temp and temp value*/
#temp #temp-value{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: #ffffff;
}
/*climate*/
#climate{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
}

/*location*/
#location{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
}

/*temp icon*/
#temp-icon{
  margin:1rem;
  height: auto;
  width:40%;
}

/*main*/
main{
  padding:20px;
  background-color:#15715D ;
  height:320px;
  width:350px ;
  margin-top: 10px;
  border-radius: 20px;
  display: block;
  margin-left: 315px;
  padding:25px 50px 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 6px 6px 6px 1px wheat;
   /* padding: 20px 2px 2px 30px ; */
  
}

#search-button{
  color:black;
  text-transform: uppercase;
  text-decoration: none;
  background-color: blanchedalmond;
  border-radius: 3px;
  margin-left: 5px;
  padding:10px;
  border: 2px solid black;
  display: inline block;
  transition: all 0.4s ease 0.2;
}

#search-button:hover{
  color:white;
  font-size: 15px;
  background-color: olivedrab;
  transition: all 0.4s ease 0;
  border-color: 2px solid yellow;

}
#search-input1{
  text-align: center;
  width: 260px;
  /* height: 20px; */
  margin: 8px 0;
  padding: 8px 0;
  line-height: 2px;;
  font-size: 20px;
  overflow: hidden;
  border-bottom: 3px solid black;
  outline: none;
  background: none;
  text-transform: capitalize;
  color: white;
  /* background-color ; */
  


}
input{
  border:none;
}

